<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    <!-- Side Menu -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <!-- Menú de navegación -->
        <ion-list lines="none" class="menu-list">
          @for (item of menuItems; track item.url) {
          <ion-menu-toggle [autoHide]="false">
            <ion-item [routerLink]="item.url" routerLinkActive="selected" [detail]="false" button class="menu-item">
              <ion-icon slot="start" [name]="item.icon" [color]="item.color"></ion-icon>
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          }

          <!-- Categoría Perfil -->
          <ion-item-group>
            <ion-item-divider>
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item-divider>

            <ion-menu-toggle [autoHide]="false">
              <ion-item button class="submenu-item" (click)="navigateToProfile()">
                <ion-icon slot="start" name="person-outline" color="tertiary"></ion-icon>
                <ion-label>Usuario</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>
        </ion-list>
      </ion-content>

      <ion-footer class="menu-footer-container">
        <!-- Selector de Tema -->
        <ion-item class="theme-toggle-item" lines="none" button (click)="presentThemePopover($event)">
          <ion-icon slot="start" name="color-palette" [style.color]="getThemeIconColor()">
          </ion-icon>
          <ion-label>Tema</ion-label>
        </ion-item>

        <!-- Acerca de TEO -->
        <ion-item button class="about-menu-item" (click)="showAboutModal()">
          <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
          <ion-label>Acerca de</ion-label>
        </ion-item>
      </ion-footer>
    </ion-menu>

    <!-- Main Content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-sync-status></app-sync-status>
</ion-app>